---
permalink: locations/saigon/big_pig/index.html
layout: false
eleventyExcludeFromCollections: true
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="robots" content="noindex">
  <meta http-equiv="refresh" content="0; url={{ 'locations/big-pig-bbq/' | absoluteUrl(site.url) }}">
  <link rel="canonical" href="{{ 'locations/big-pig-bbq/' | absoluteUrl(site.url) }}">
  <title>Redirecting to Big Pig BBQ BTM</title>
</head>
<body>
  <p>Redirecting to <a href="{{ 'locations/big-pig-bbq/' | absoluteUrl(site.url) }}">Big Pig BBQ BTM</a>.</p>
</body>
</html>
